<!--  Placeholder until carousel is working -->
<div class="center hero-unit img">
  <hgroup>
    <h1 class="hero-title">Pitt's Next-Gen Community</h1>
    <br />
    <h2 class="hero-title">Dive into DNA</h2>
  </hgroup>
  <%= link_to "Sign up now!", '#', :class => "btn btn-large btn-primary pull-right" %> 
</div>
<!-- end placeholder -->


<!--  Carousel -->
<!--  consult Bootstrap docs at http://twitter.github.com/bootstrap/javascript.html#carousel 
<div id="home_page_slider" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <a href="http://www.berndtlab.pitt.edu">  
        <img src="dreamstime_xs_18652784.png" alt="Antennae Galaxies" />
      </a>
      <div class="carousel-caption">
        <p><em>m</em>GVI</p>
        <p><a href="http://www.berndtlab.pitt.edu">BerndtLab.edu &raquo;</a></p>
      </div>
    </div>
    <div class="item">
      <a href="#">
        <img src="antennae.jpg" alt="Circos" />
      </a>
      <div class="carousel-caption">
        <p>Genome Densities</p>
        <p><a href="#">Hubblesite.org &raquo;</a></p>
      </div>
    </div>
    <div class="item">
      <a href="#">
        <img src="echo.jpg" alt="Light Echo" />
      </a>
      <div class="carousel-caption">
        <p>Light Echo From Star V838 Monocerotis</p>
        <p><a href="#">Hubblesite.org &raquo;</a></p>
      </div>
    </div>
    <div class="item">
      <a href="#">
        <img src="ngc5866.jpg" alt="Galaxy NGC5866" />
      </a>
      <div class="carousel-caption">
        <p>Galaxy NGC 5866</p>
        <p><a href="#">Hubblesite.org &raquo;</a></p>
      </div>
    </div>
  </div><!-- .carousel-inner -->
<!--  next and previous controls here
      href values must reference the id for this carousel 
  <a class="carousel-control left" href="#home_page_slider" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#home_page_slider" data-slide="next">&rsaquo;</a>
</div><!-- .carousel -->
<!-- end carousel -->

<!-- Example row of columns -->
<div class="center row">
  <div class="span4">
    <h2>Discover</h2>
    <p>Learn how your genome differs from that of the person next to you.</p>
    <p><a class="btn btn-small btn-primary" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Share</h2>
    <p>Connect with people that have similar genome variation. </p>
    <p><a class="btn btn-small btn-primary" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Understand</h2>
    <p>Take your life into your hands by knowing your genome information. Understanding what predisposes us to diseases and xxx 
will allow to take preventative strategies that improves the standard of living.</p>
    <p><a class="btn btn-small btn-primary" href="#">View details &raquo;</a></p>
  </div>
</div><!-- end row of columns -->


<!-- Le javascript
================================================== -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<!-- Bootstrap jQuery plugins compiled and minified -->
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 4000
    });
  });
</script>
