<header class="navbar navbar-fixed top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "NGS @ Pitt", '#', :id => "logo" %>
			<nav>
				<ul class="nav">
              		<li><a href="#about">About</a></li>
              		<li><a href="#contact">Contact</a></li>
              		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
                		<ul class="dropdown-menu">
                  			<li><a href="portfolio.html">NGS Community</a></li>
                  			<li><a href="#">Researchers</a></li>
				  			<li><a href="#">Members</a></li>
                		</ul>
              		</li><!-- dropdown -->
           		</ul><!-- /.nav -->
				<ul class="nav pull-right">
					<li><%= link_to "Home",    '#' %></li>
					<li><%= link_to "Help",    '#' %></li>
					<li><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>